
ul {
  list-style: none;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

span {
  background-color: #f0f8ff; 
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

a {
  background-color: #E3FCEF; 
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
} 
