<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>test</title>
		<style>
			ul {
			  margin:0; 
			  padding:0; 
			  list-style:none;
			}
			li {
			  margin:0; 
			  padding:0;	
			}
			table {
		      border-collapse:collapse; 
			  width:100%;
			}
			td {
			  width:25%; 
	          background-color:#f0f0f0;
	          border:1px solid #ccc;
	          text-align:center;
	          padding:10px;
			}
		</style>
	</head>
	<body>
		<p th:utext="'Hello Cheapotix User, <br><br>'
		 			 + 'There are currently some cheap tickets you may be interested in purchasing:'
		 			 + '<br><br>'"></p>
		<table>
			<thead>
				<tr>
					<th>Game Name</th>
					<th>Date</th>
					<th>Min Price</th>
					<th>Purchase Tickets</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="game : ${games}">
					<td th:text="${game.title}"></td> 
							
					<!-- turn the LocalDateTime object to display -->			
					<td th:text="${#temporals.format(game.date, 'MM/dd/yyyy hh:mm a')} + ' Local Time'"></td>
					<!-- turn the LocalDateTime object to display -->
					<td th:text="${#numbers.formatCurrency(game.minPrice)}"></td>
					<td>
						<a th:href="${game.ticketsLink}">Purchase Tickets Here</a>
					</td>
				</tr>
			</tbody>
		</table>
		<p th:utext="'<br><br>Enjoy!'
		 			 + '<br><br>Sincerely'
		 			 + '<br>Cheapotix'"></p>
	</body>
	
	
</html>